<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
    <nav th:replace="fragments :: nav"></nav>
    <h2 th:text="${title}"></h2>

    <p th:unless="${cheeses} and ${cheeses.size()}">no cheeses</p>
    <br>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr th:each=" cheese : ${cheeses}">
            <td th:text="${cheese.key}"></td>
            <td th:text="${cheese.value}"></td>
        </tr>
    </table>
</body>
</html>